flow.json
[
    {
        "id": "3ba7f303.9c0d1c",
        "type": "tab",
        "label": "NSO POC App",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cb2ea5c1.768118",
        "type": "mongodb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "27017",
        "db": "db",
        "name": ""
    },
    {
        "id": "2cab6f0b.2b845",
        "type": "http in",
        "z": "3ba7f303.9c0d1c",
        "name": "",
        "url": "/poc/sessions",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "380f231d.1cd8dc",
                "6c066841.3e0ad8"
            ]
        ]
    },
    {
        "id": "878bcd6d.46062",
        "type": "debug",
        "z": "3ba7f303.9c0d1c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 810,
        "y": 320,
        "wires": []
    },
    {
        "id": "61fd81d0.32e8c",
        "type": "http response",
        "z": "3ba7f303.9c0d1c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "a1712cad.f33f8",
        "type": "function",
        "z": "3ba7f303.9c0d1c",
        "name": "",
        "func": "var hostname = msg.payload;\nvar response = {\n    timestamp: new Date(),\n    host: hostname,\n    userAgent: msg.req.headers[\"user-agent\"]\n}\n\nmsg.payload = response\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 260,
        "wires": [
            [
                "878bcd6d.46062",
                "f18189.54d60e78"
            ]
        ]
    },
    {
        "id": "380f231d.1cd8dc",
        "type": "exec",
        "z": "3ba7f303.9c0d1c",
        "command": "hostname",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "a1712cad.f33f8"
            ],
            [],
            []
        ]
    },
    {
        "id": "6c066841.3e0ad8",
        "type": "function",
        "z": "3ba7f303.9c0d1c",
        "name": "",
        "func": "msg.payload = {};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 120,
        "wires": [
            [
                "9366f1b2.151ac"
            ]
        ]
    },
    {
        "id": "9366f1b2.151ac",
        "type": "mongodb in",
        "z": "3ba7f303.9c0d1c",
        "mongodb": "cb2ea5c1.768118",
        "name": "poc_sessions",
        "collection": "poc_sessions",
        "operation": "find",
        "x": 600,
        "y": 120,
        "wires": [
            [
                "61fd81d0.32e8c"
            ]
        ]
    },
    {
        "id": "f18189.54d60e78",
        "type": "mongodb out",
        "z": "3ba7f303.9c0d1c",
        "mongodb": "cb2ea5c1.768118",
        "name": "poc_sessions",
        "collection": "poc_sessions",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 840,
        "y": 260,
        "wires": []
    },
    {
        "id": "6a8f1cd6.3df8a4",
        "type": "inject",
        "z": "3ba7f303.9c0d1c",
        "name": "",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 540,
        "wires": [
            [
                "1f7ad8f9.f856e7"
            ]
        ]
    },
    {
        "id": "1f7ad8f9.f856e7",
        "type": "mongodb out",
        "z": "3ba7f303.9c0d1c",
        "mongodb": "cb2ea5c1.768118",
        "name": "poc_sessions",
        "collection": "poc_sessions",
        "payonly": true,
        "upsert": false,
        "multi": true,
        "operation": "delete",
        "x": 320,
        "y": 540,
        "wires": []
    },
    {
        "id": "33094bd.7597eb4",
        "type": "comment",
        "z": "3ba7f303.9c0d1c",
        "name": "Clear all sessions",
        "info": "",
        "x": 100,
        "y": 480,
        "wires": []
    }
]